# Gateway
gateway/.env
gateway/node_modules
gateway/logs

# Services 

# user service
services/user/.env
services/user/node_modules

# Admin service
services/admin/.env
services/admin/node_modules

# Instrctor serrvice
services/instructor/.env
services/instructor/node_modules

# Student serrvice
services/student/.env
services/student/node_modules

# Communication serrvice
services/communication/.env
services/communication/node_modules

# Notification service
services/notification/.env
services/notification/node_modules